.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.grid-container {
  min-height: 50vh;
  display: grid;
  align-content: stretch;
  grid-template-columns: 2% auto 20%;
  grid-template-rows: 2% 10em 10em 10em 3%;
  margin: 1em;
}

.item-holder {
  border: 1px solid gray;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: auto auto auto;
}

.frame {
  background: black;
  color: white;
}

.item {
  display: grid;
  grid-template-rows: 40% auto 10%;

  background: rgba(0, 0, 0, 0.3);

  min-width: 7em;
  min-height: 7em;
  width: 7em;
  height: 7em;
}

.wallet-picker li {
  display: inline;
  list-style-type: none;
  padding: 20px;
  margin-right: 10px;

  width: 20px;
  height: 20px;
  border-radius: 70%;
  font-size: 16px;
  color: black;
  text-align: center;
  border: 1px black solid;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wallet-header {
  padding-bottom: 20px;
  padding-top: 20px;
}

.copper {
  background: #b87333;
}

.metal {
  background: #b5b5b5;
}

.pound-coin {
  background: yellow;
}

.big-text {
  font-size: 20px;
}

.selected {
  border: 2px dotted blue;
}

#lcd {
  padding: 20px;
}

.change-list li{
  display: inline;
  list-style-type: none;
  padding: 1em;
}
